.bg-custom{
	background: #00008B !important;
}

.navbar .nav-item:hover .nav-link{
	font-size: 20px;
	color: white;
	
}

.navbar .nav-item:hover .nav-link{
	background: white;
	color: black;
	border-radius: 10px;
}